@model sistema.Models.CompraBaseViewModel

@{
    ViewData["Title"] = "Modificar compra";
}

@await Html.PartialAsync("_MensajeExito")

@if (Model.EstadoCompra != true)
{
    <div class="position-relative form-group">
        <button type="button" class="btn btn-primary" onclick="ModificarCompra(@Model.CompraId)">Guardar cambios</button>
        <button type="button" class="btn btn-primary" onclick="CambiarAComprado(@Model.CompraId)">Generar compra</button>
        <br><br>
    </div>
}


<form asp-controller="Compra" asp-action="Reporte" asp-route-CompraId="@Model.CompraId">
    <button type="submit" class="btn btn-danger">Generar PDF</button>
</form>




@await Html.PartialAsync("_CompraForm");

@section Scripts
{
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
<script type="text/javascript" src="~/js/tempusdominus-bootstrap-4.min.js"></script>
<script type="text/javascript" src="~/js/moment.min.js"></script>
<script type="text/javascript" src="~/js/daterangepicker.js"></script>
<script src="~/js/jquery-ui.js"></script>
<script src="https://knockoutjs.com/downloads/knockout-3.5.1.js"></script>
<script type="text/javascript" src="~/ViewModelKo/CompraVM.js"></script>


<script>
    $('#fechalimite').daterangepicker({
        timePicker: true,
        singleDatePicker: true,
        locale: {
            format: 'MM/DD/YYYY hh:mm A'
            }
    });

</script>

}

@section css
{
<link href="~/css/daterangepicker.css" rel="stylesheet">

}