@model Database.Shared.Models.Venta
@{
    Layout = "_HojaLayout";
    DateTime fecha = DateTime.Now;
}

<div class="form-row">
    <div class="col-md-12">
        <center><img width="150" src="/assets/images/logo-redowl.jpeg" alt=""></center>
    </div>
</div>
<div class="form-row">
    <div class="col-md-12">
        <center><h5>Recibo de pago de cuenta</h5></center>
        <hr />
    </div>
</div>
<div class="form-row">
    <div class="col-md-12">
        <center><b>Fecha y hora de emisión:</b> @fecha</center>
        <hr />
    </div>
</div>



@section css
{
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Libre+Barcode+128|VT323" rel="stylesheet">
<style>

    * {
        margin: 0;
        box-sizing: border-box;
        font-family: 'VT323', monospace;
        @* font-family: 'cp437 '; *@ color: #1f1f1f;
        font-size: 20px;
    }

    tr {
        page-break-inside: avoid !important;
        page-break-after: auto !important;
    }

    .table thead tr th, .table tbody tr td {
        border: none;
    }

    .container {
    }

    .bold {
        font-weight: bold;
    }

    .center {
        text-align: center;
    }

    .receipt {
        width: 64mm;
        @* min-height: 100vh; *@ height: 100%;
        @* background: #fff; *@ @* margin: 0 auto; *@ @* box-shadow: 5px 5px 19px #ccc; *@ @* padding: 10px; *@
    }

    .logo {
        text-align: center;
        padding: 20px;
        font-size: 1.5em;
    }

    .barcode {
        font-family: "Libre Barcode 128", cursive;
        font-size: 42px;
        text-align: center;
    }

    .address {
        text-align: center;
        margin-bottom: 10px;
    }

    .transactionDetails {
        display: flex;
        justify-content: space-between;
        margin: 0 5px 5px;
    }

        .transactionDetails .detail {
            text-transform: uppercase;
        }

    .centerItem {
        display: flex;
        justify-content: center;
        margin-bottom: 8px;
    }

    .survey {
        text-align: center;
        margin-bottom: 12px;
    }

        .survey .surveyID {
            font-size: 20px;
        }

    .paymentDetails {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 150px;
    }

    .creditDetails {
        margin: 10px auto;
        width: 230px;
        font-size: 14px;
        text-transform: uppercase;
    }

    .receiptBarcode {
        margin: 10px 0;
        text-align: center;
    }

    .returnPolicy {
        margin: 10px 20px;
        width: 220px;
        display: flex;
        justify-content: space-between;
    }

    .coupons {
        margin-top: 20px;
    }

    .tripSummary {
        margin: auto;
        width: 255px;
    }

        .tripSummary .item {
            display: flex;
            justify-content: space-between;
            margin: auto;
            width: 220px;
        }

    .feedback {
        margin: 20px auto;
    }

        .feedback h3.clickBait {
            font-size: 30px;
            font-weight: bold;
            text-align: center;
            margin: 10px 0;
        }

        .feedback h4.web {
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            margin: 10px 0;
        }

        .feedback .break {
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            margin: 10px 0;
        }

    .couponContainer {
        border-top: 1px dashed #1f1f1f;
        margin-bottom: 20px;
    }

        .couponContainer .discount {
            font-size: 35px;
            text-align: center;
            margin-bottom: 10px;
        }

        .couponContainer .discountDetails {
            font-size: 20px;
            text-align: center;
            margin-bottom: 15px;
        }

        .couponContainer .barcode {
            margin: 10px 0 0;
        }

        .couponContainer .legal {
            font-size: 12px;
            margin-bottom: 12px;
        }

        .couponContainer .barcodeID {
            margin-bottom: 8px;
        }

        .couponContainer .expiration {
            display: flex;
            justify-content: space-between;
            margin: 10px;
        }

        .couponContainer .couponBottom {
            font-size: 13px;
            text-align: center;
        }
</style>
}

